.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#image-color-pick-canvas{
    width: 90% !important;
}

.color-picker {
    margin-top: 20px;
    width: 90%;
}

.volver-btn {
    background-color: #FF00FF; /* Color de fondo */
    border: none;
    color: white; /* Color del texto */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px; /* Espacio inferior */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.volver-btn:hover {
    background-color: #b814b8; /* Color al pasar el ratón */
}
